<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{> title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/marx/3.0.7/marx.min.css">
    <style>
      main {
        margin-top: 16px;
      }
    </style>
  </head>
  <body>
    {{> @partial-block}}
  </body>
</html>
